/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0; }

h1 {
  font-size: 24px;
  line-height: 30px;
  border-bottom: 2px solid #a6a8ab;
  font-weight: bold;
  color: #231f20; }
  h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h1 + .pe-heading-level1, h1 + .pe-heading-level2, h1 + .pe-heading-level3, h1 + .pe-heading-level4, h1 + .pe-heading-level5, h1 + .pe-heading-level6 {
    margin-top: 40px; }
  p + h1 {
    margin-top: 20px; }

h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #231f20; }
  p + h2 {
    margin-top: 20px; }
  h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h2 + .pe-heading-level1, h2 + .pe-heading-level2, h2 + .pe-heading-level3, h2 + .pe-heading-level4, h2 + .pe-heading-level5, h2 + .pe-heading-level6 {
    margin-top: 6px; }

h3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #231f20; }
  p + h3 {
    margin-top: 20px; }
  h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h3 + .pe-heading-level1, h3 + .pe-heading-level2, h3 + .pe-heading-level3, h3 + .pe-heading-level4, h3 + .pe-heading-level5, h3 + .pe-heading-level6 {
    margin-top: 6px; }

h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #565656; }
  p + h4 {
    margin-top: 20px; }
  h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h4 + .pe-heading-level1, h4 + .pe-heading-level2, h4 + .pe-heading-level3, h4 + .pe-heading-level4, h4 + .pe-heading-level5, h4 + .pe-heading-level6 {
    margin-top: 6px; }

h5 {
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  color: #565656; }
  p + h5 {
    margin-top: 20px; }
  h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h5 + .pe-heading-level1, h5 + .pe-heading-level2, h5 + .pe-heading-level3, h5 + .pe-heading-level4, h5 + .pe-heading-level5, h5 + .pe-heading-level6 {
    margin-top: 6px; }

h6 {
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
  color: #565656; }
  p + h6 {
    margin-top: 20px; }
  h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6, h6 + .pe-heading-level1, h6 + .pe-heading-level2, h6 + .pe-heading-level3, h6 + .pe-heading-level4, h6 + .pe-heading-level5, h6 + .pe-heading-level6 {
    margin-top: 6px; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 0.8rem;
  color: #545454; }

aside {
  margin-bottom: 15px;
  padding: 15px;
  background: #f8f8f8;
  border-left: 5px solid #107aca; }
  aside h1 {
    font-size: 1.25rem; }
  aside h2 {
    font-size: 1.1rem; }
  aside h3 {
    font-size: 1rem; }
  aside h4,
  aside h5,
  aside h6 {
    font-size: 0.8rem; }

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 35px;
  border-collapse: collapse; }
  table th,
  table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #d0d0d0;
    text-align: left; }
  table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #d0d0d0;
    border-top: 0px none; }
  table tbody + tbody {
    border-bottom: 2px solid #d0d0d0; }

a {
  color: #0d65a6;
  text-decoration: underline; }
  a:hover, a:active, a:focus {
    color: #094877;
    text-decoration: none; }

body {
  color: #231f20;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.375; }

p {
  margin-top: 0;
  margin-bottom: 12px; }

ins:before {
  content: '+'; }
ins:after {
  content: '+'; }

mark {
  background: #fdec2e; }

s {
  color: #565656; }

small {
  font-weight: normal;
  font-size: inherit;
  line-height: 1rem; }

sub,
sup {
  font-size: 90%; }

sub {
  top: 0.2rem; }

sup {
  top: -0.2rem; }

pre,
code,
kbd {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; }

/* This component is experimental and not available for production use. If you need a component with this functionality, please contact us in the Pearson Design Accelerator hipchat room */
.pe-aside {
  margin-bottom: 15px;
  padding: 15px;
  background: #f8f8f8;
  border-left: 5px solid #107aca; }
  .pe-aside h1 {
    font-size: 1.25rem; }
  .pe-aside h2 {
    font-size: 1.1rem; }
  .pe-aside h3 {
    font-size: 1rem; }
  .pe-aside h4,
  .pe-aside h5,
  .pe-aside h6 {
    font-size: 0.8rem; }

.pe-btn {
  color: #565656;
  background: #f8f8f8;
  border: solid 1px #d0d0d0;
  border-radius: 3px;
  font-weight: normal;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 0.875rem;
  height: 28px;
  line-height: 28px;
  padding: 0 11px; }
  .pe-btn:hover, .pe-btn:active, .pe-btn:focus {
    color: #565656;
    background: #e6e6e6;
    border: solid 1px #b3b3b3;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }
  .pe-btn:disabled, .pe-btn.pe-btn--disabled {
    cursor: default;
    border: 0;
    color: #a6a8ab;
    background: #f2f2f2;
    box-shadow: none;
    text-decoration: none; }

.pe-btn--primary {
  color: #ffffff;
  background: #107aca;
  border: solid 1px #0a4d80;
  border-radius: 3px;
  font-weight: 300;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }
  .pe-btn--primary:hover, .pe-btn--primary:active, .pe-btn--primary:focus {
    color: #ffffff;
    background: #0c5d99;
    border: solid 1px #0a4d80;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }
  .pe-btn--primary:disabled, .pe-btn--primary.pe-btn--disabled {
    cursor: default;
    border: 0;
    color: #ffffff;
    background: #9dc0db;
    box-shadow: none;
    text-decoration: none; }
  .pe-btn--primary:focus {
    outline: 1px black dotted; }

.pe-btn--link {
  color: #0d65a6;
  background: none;
  border: 0;
  border-radius: 3px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: underline; }
  .pe-btn--link:hover, .pe-btn--link:active, .pe-btn--link:focus {
    color: #094877;
    background: none;
    border: 0;
    box-shadow: none; }
  .pe-btn--link:disabled, .pe-btn--link.pe-btn--disabled {
    cursor: default;
    border: 0;
    color: #9dc0db;
    background: 0;
    box-shadow: none;
    text-decoration: none; }
  .pe-btn--link:hover, .pe-btn--link:active, .pe-btn--link:focus {
    text-decoration: none; }
  .pe-btn--link:focus {
    outline: 1px black dotted; }

.pe-btn--small {
  height: 24px;
  line-height: 24px;
  font-size: 0.813rem;
  padding: 0 9px; }

.pe-btn--medium {
  height: 36px;
  line-height: 36px;
  font-size: 1rem;
  padding: 0 12px; }

.pe-btn--large {
  height: 42px;
  font-size: 1rem;
  line-height: 42px;
  padding: 0 19px; }

/* This component is experimental and not available for production use. If you need a component with this functionality, please contact us in the Pearson Design Accelerator hipchat room */
.pe-card {
  margin-bottom: 15px;
  border: solid 1px #b3b3b3; }

.pe-card__header,
.pe-card__content {
  padding: 15px; }

.pe-card__header {
  border-bottom: solid 1px #b3b3b3; }

/* This component is experimental and not available for production use. If you need a component with this functionality, please contact us in the Pearson Design Accelerator hipchat room */
.pe-dropdown-menu {
  position: relative; }

.pe-dropdown-menu__menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1001;
  display: none;
  float: left;
  min-width: 160px;
  width: auto;
  padding: 10px 0;
  margin: 0;
  list-style: none;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15); }

.pe-dropdown-menu--expanded > .pe-dropdown-menu__menu-items {
  display: block; }

.pe-dropdown-menu--right > .pe-dropdown-menu__menu-items {
  right: 0;
  left: auto; }

.pe-dropdown-menu__menu-item > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  text-decoration: none;
  color: #565656;
  white-space: nowrap; }
  .pe-dropdown-menu__menu-item > a:hover, .pe-dropdown-menu__menu-item > a:focus {
    color: #ffffff;
    background-color: #a6a8ab; }

.pe-dropdown-menu__divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.15); }

.pe-dropdown-menu__menu-item--disabled > a, .pe-dropdown-menu__menu-item--disabled > a:hover, .pe-dropdown-menu__menu-item--disabled > a:focus {
  color: #a6a8ab; }
.pe-dropdown-menu__menu-item--disabled > a:hover, .pe-dropdown-menu__menu-item--disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: not-allowed; }

.pe-dropdown-menu--inverse .pe-dropdown-menu__menu-items {
  background-color: #333333;
  border: 1px solid #333333; }
.pe-dropdown-menu--inverse .pe-dropdown-menu__menu-item > a {
  color: #aeaeae; }
  .pe-dropdown-menu--inverse .pe-dropdown-menu__menu-item > a:hover, .pe-dropdown-menu--inverse .pe-dropdown-menu__menu-item > a:focus {
    color: #e6e6e6;
    background-color: #3f3f3f; }
.pe-dropdown-menu--inverse .pe-dropdown-menu__menu-item--disabled > a, .pe-dropdown-menu--inverse .pe-dropdown-menu__menu-item--disabled > a:hover, .pe-dropdown-menu--inverse .pe-dropdown-menu__menu-item--disabled > a:focus {
  color: #545454; }
.pe-dropdown-menu--inverse .pe-dropdown-menu__divider {
  background-color: #aeaeae; }

/* This component is experimental and not available for production use. If you need a component with this functionality, please contact us in the Pearson Design Accelerator hipchat room */
.pe-header {
  width: 100%;
  min-height: 44px;
  z-index: 1000;
  background-color: #000000;
  color: #ffffff; }
  @media (min-width: 1024px) {
    .pe-header {
      min-height: 54px; } }

.pe-header--fixed {
  position: fixed;
  top: 0; }

.pe-header__section {
  float: left; }

.pe-header__section--right {
  float: right; }

.pe-header__brand {
  font-size: 1.25rem;
  display: block;
  padding: 22px 15px;
  color: #d0d0d0;
  line-height: 0;
  text-decoration: none; }
  .pe-header__brand:hover, .pe-header__brand:focus, .pe-header__brand:active {
    color: #f2f2f2; }
  @media (min-width: 1024px) {
    .pe-header__brand {
      padding: 27px 15px; } }

.pe-header__logo {
  display: block;
  margin: 0 14px; }

.pe-header__logo--pearson {
  height: 44px;
  width: 100px;
  background: url(/images/pearson-sprite.svg) no-repeat;
  background-position: right 14px;
  background-clip: content-box; }
  @media (min-width: 1024px) {
    .pe-header__logo--pearson {
      height: 54px;
      background-position: right 19px; } }

.pe-header__nav {
  width: auto;
  float: left; }

.pe-header__nav-items {
  margin: 0;
  padding: 0;
  list-style: none; }

.pe-header__nav-item {
  float: left;
  height: 44px; }
  .pe-header__nav-item a {
    display: block;
    padding: 22px 15px;
    color: #d0d0d0;
    line-height: 0;
    text-decoration: none; }
    .pe-header__nav-item a:hover, .pe-header__nav-item a:focus, .pe-header__nav-item a:active {
      color: #f2f2f2; }
    @media (min-width: 1024px) {
      .pe-header__nav-item a {
        padding: 27px 15px; } }
  @media (min-width: 1024px) {
    .pe-header__nav-item {
      height: 54px; } }

.pe-header__nav-item--active {
  background: #424242; }

.pe-header--inverse {
  background: #f2f2f2; }
  .pe-header--inverse a {
    color: #000000; }
    .pe-header--inverse a:hover, .pe-header--inverse a:focus {
      color: #595959; }
  .pe-header--inverse .pe-header__nav-item--active {
    background-color: #e6e6e6; }
  .pe-header--inverse .pe-header__logo--pearson {
    background-position: right -2px;
    background-clip: content-box;
    padding: 14px 0; }
    @media (min-width: 1024px) {
      .pe-header--inverse .pe-header__logo--pearson {
        background-position: right 3px;
        padding: 19px 0; } }

@font-face {
  font-family: 'pearson-fa';
  src: url("../../node_modules/pearson-elemnts/dist/fonts/pearson-fa.eot?i9zm12");
  src: url("../../node_modules/pearson-elemnts/dist/fonts/pearson-fa.eot?i9zm12#iefix") format("embedded-opentype"), url("../../node_modules/pearson-elemnts/dist/fonts/pearson-fa.ttf?i9zm12") format("truetype"), url("../../node_modules/pearson-elemnts/dist/fonts/pearson-fa.woff?i9zm12") format("woff"), url("../../node_modules/pearson-elemnts/dist/fonts/pearson-fa.svg?i9zm12#pearson-fa") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^='pe-icon--'],
[class*=' pe-icon--'] {
  font-family: 'pearson-fa' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.pe-icon--search:before {
  content: '\f002'; }

.pe-icon--check:before {
  content: '\f00c'; }

.pe-icon--close:before {
  content: '\f00d'; }

.pe-icon--remove:before {
  content: '\f00d'; }

.pe-icon--times:before {
  content: '\f00d'; }

.pe-icon--cog:before {
  content: '\f013'; }

.pe-icon--trash-o:before {
  content: '\f014'; }

.pe-icon--plus-circle:before {
  content: '\f055'; }

.pe-icon--chevron-up:before {
  content: '\f077'; }

.pe-icon--chevron-down:before {
  content: '\f078'; }

.pe-icon--chevron-left:before {
  content: '\f056'; }

.pe-icon--chevron-right:before {
  content: '\f058'; }

.pe-icon--thumb-tack:before {
  content: '\f08d'; }

.pe-icon--users:before {
  content: '\f0c0'; }

.pe-icon--envelope:before {
  content: '\f0e0'; }

.pe-icon--times-circle:before {
  content: '\f057'; }

.pe-icon--info-circle:before {
  content: '\f05a'; }

.pe-icon--user:before {
  content: '\f007'; }

.pe-icon--file-o:before {
  content: '\f016'; }

.pe-icon--calendar:before {
  content: '\f073'; }

.pe-icon--square-o:before {
  content: '\f096'; }

.pe-icon--check-square-o:before {
  content: '\f046'; }

.pe-icon--ban:before {
  content: '\f05e'; }

.pe-icon--camera:before {
  content: '\f030'; }

.pe-icon--clock-o:before {
  content: '\f017'; }

.pe-icon--exclamation-circle:before {
  content: '\f06a'; }

.pe-icon--bell:before {
  content: '\f0f3'; }

.pe-xs--visible {
  display: none !important; }

@media (min-width: 0) and (max-width: 479px) {
  .pe-xs--visible {
    display: block !important; }

  table.pe-xs--visible {
    display: table !important; }

  tr.pe-xs--visible {
    display: table-row !important; }

  th.pe-xs--visible,
  td.pe-xs--visible {
    display: table-cell !important; } }
.pe-sm--visible {
  display: none !important; }

@media (min-width: 480px) and (max-width: 767px) {
  .pe-sm--visible {
    display: block !important; }

  table.pe-sm--visible {
    display: table !important; }

  tr.pe-sm--visible {
    display: table-row !important; }

  th.pe-sm--visible,
  td.pe-sm--visible {
    display: table-cell !important; } }
.pe-md--visible {
  display: none !important; }

@media (min-width: 768px) and (max-width: 1023px) {
  .pe-md--visible {
    display: block !important; }

  table.pe-md--visible {
    display: table !important; }

  tr.pe-md--visible {
    display: table-row !important; }

  th.pe-md--visible,
  td.pe-md--visible {
    display: table-cell !important; } }
.pe-lg--visible {
  display: none !important; }

@media (min-width: 1024px) and (max-width: 1279px) {
  .pe-lg--visible {
    display: block !important; }

  table.pe-lg--visible {
    display: table !important; }

  tr.pe-lg--visible {
    display: table-row !important; }

  th.pe-lg--visible,
  td.pe-lg--visible {
    display: table-cell !important; } }
.pe-xl--visible {
  display: none !important; }

@media (min-width: 1280px) {
  .pe-xl--visible {
    display: block !important; }

  table.pe-xl--visible {
    display: table !important; }

  tr.pe-xl--visible {
    display: table-row !important; }

  th.pe-xl--visible,
  td.pe-xl--visible {
    display: table-cell !important; } }
@media (min-width: 0) and (max-width: 479px) {
  .pe-xs--hidden {
    display: none !important; } }
@media (min-width: 480px) and (max-width: 767px) {
  .pe-sm--hidden {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .pe-md--hidden {
    display: none !important; } }
@media (min-width: 1024px) and (max-width: 1279px) {
  .pe-lg--hidden {
    display: none !important; } }
@media (min-width: 1280px) {
  .pe-xl--hidden {
    display: none !important; } }
.pe-sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

/* This component is experimental and not available for production use. If you need a component with this functionality, please contact us in the Pearson Design Accelerator hipchat room */
.pe-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 35px;
  border-collapse: collapse; }
  .pe-table th,
  .pe-table td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #d0d0d0;
    text-align: left; }
  .pe-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #d0d0d0;
    border-top: 0px none; }
  .pe-table tbody + tbody {
    border-bottom: 2px solid #d0d0d0; }

.pe-table--striped tbody tr:nth-child(odd) td {
  background-color: #e6e6e6; }

.pe-copy {
  color: #231f20;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.375; }

.pe-copy--small {
  color: #231f20;
  font-size: 0.875rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25rem; }

.pe-paragraph {
  margin-top: 0;
  margin-bottom: 12px; }

.pe-paragraph--last {
  margin-top: 0;
  margin-bottom: 0; }

.pe-lead {
  color: #231f20;
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.5rem; }
  @media (min-width: 480px) {
    .pe-lead {
      font-weight: 300;
      font-size: 1.25rem;
      line-height: 1.75rem; } }

.pe-title {
  color: #000000;
  font-weight: normal;
  font-size: 1.124rem;
  line-height: 1.375rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (min-width: 480px) {
    .pe-title {
      font-size: 1.375rem;
      line-height: 1.75rem; } }

.pe-title--large {
  font-size: 1.25rem;
  line-height: 1.5rem; }
  @media (min-width: 480px) {
    .pe-title--large {
      font-size: 1.5rem;
      line-height: 1.875rem; } }

.pe-title--extra-large {
  font-size: 1.375rem;
  line-height: 1.75rem; }
  @media (min-width: 480px) {
    .pe-title--extra-large {
      font-size: 1.875rem;
      line-height: 2.25rem; } }

.pe-label {
  color: #231f20;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: normal; }
  .pe-label.pe-label--inverse {
    color: #ffffff;
    font-weight: 300; }

.pe-label--secondary {
  color: #565656; }
  .pe-label--secondary.pe-label--inverse {
    color: #aeaeae; }

.pe-label--small {
  font-size: 0.813rem;
  line-height: 0.9375rem; }

.pe-label--large {
  font-size: 1rem;
  line-height: 1.125rem; }

.pe-label--bold {
  font-weight: bold; }

.pe-list {
  color: #231f20;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.375rem;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-left: 26px; }

.pe-list.pe-styled-lists--ordered {
  list-style-type: decimal; }

.pe-list.pe-styled-lists--ordered ol {
  list-style-type: lower-alpha;
  padding-left: 20px; }

.pe-list.pe-styled-lists--ordered ol ol {
  list-style-type: lower-roman; }

.pe-list.pe-styled-lists--unordered {
  list-style-type: disc; }

.pe-list.pe-styled-lists--unordered ul {
  list-style-type: circle;
  padding-left: 20px; }

.pe-list.pe-styled-lists--unordered ul ul {
  list-style-type: square; }

.pe-list.pe-styled-lists-heading--ordered {
  list-style-type: decimal;
  margin-top: 0; }

.pe-list.pe-styled-lists-heading--ordered ol {
  list-style-type: lower-alpha;
  padding-left: 20px; }

.pe-list.pe-styled-lists-heading--ordered ol ol {
  list-style-type: lower-roman; }

.pe-list.pe-styled-lists-heading--unordered {
  list-style-type: disc;
  margin-top: 0; }

.pe-list.pe-styled-lists-heading--unordered ul {
  list-style-type: circle;
  padding-left: 20px; }

.pe-list.pe-styled-lists-heading--unordered ul ul {
  list-style-type: square; }

.pe-list--unstyled {
  padding-left: 0;
  list-style: none; }

.pe-heading-level1 {
  font-size: 24px;
  line-height: 30px;
  border-bottom: 2px solid #a6a8ab;
  font-weight: bold;
  color: #231f20; }
  .pe-heading-level1 + h1, .pe-heading-level1 + h2, .pe-heading-level1 + h3, .pe-heading-level1 + h4, .pe-heading-level1 + h5, .pe-heading-level1 + h6, .pe-heading-level1 + .pe-heading-level1, .pe-heading-level1 + .pe-heading-level2, .pe-heading-level1 + .pe-heading-level3, .pe-heading-level1 + .pe-heading-level4, .pe-heading-level1 + .pe-heading-level5, .pe-heading-level1 + .pe-heading-level6 {
    margin-top: 40px; }
  p + .pe-heading-level1 {
    margin-top: 20px; }

.pe-heading-level2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #231f20; }
  p + .pe-heading-level2 {
    margin-top: 20px; }
  .pe-heading-level2 + h1, .pe-heading-level2 + h2, .pe-heading-level2 + h3, .pe-heading-level2 + h4, .pe-heading-level2 + h5, .pe-heading-level2 + h6, .pe-heading-level2 + .pe-heading-level1, .pe-heading-level2 + .pe-heading-level2, .pe-heading-level2 + .pe-heading-level3, .pe-heading-level2 + .pe-heading-level4, .pe-heading-level2 + .pe-heading-level5, .pe-heading-level2 + .pe-heading-level6 {
    margin-top: 6px; }

.pe-heading-level3 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #231f20; }
  p + .pe-heading-level3 {
    margin-top: 20px; }
  .pe-heading-level3 + h1, .pe-heading-level3 + h2, .pe-heading-level3 + h3, .pe-heading-level3 + h4, .pe-heading-level3 + h5, .pe-heading-level3 + h6, .pe-heading-level3 + .pe-heading-level1, .pe-heading-level3 + .pe-heading-level2, .pe-heading-level3 + .pe-heading-level3, .pe-heading-level3 + .pe-heading-level4, .pe-heading-level3 + .pe-heading-level5, .pe-heading-level3 + .pe-heading-level6 {
    margin-top: 6px; }

.pe-heading-level4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #565656; }
  p + .pe-heading-level4 {
    margin-top: 20px; }
  .pe-heading-level4 + h1, .pe-heading-level4 + h2, .pe-heading-level4 + h3, .pe-heading-level4 + h4, .pe-heading-level4 + h5, .pe-heading-level4 + h6, .pe-heading-level4 + .pe-heading-level1, .pe-heading-level4 + .pe-heading-level2, .pe-heading-level4 + .pe-heading-level3, .pe-heading-level4 + .pe-heading-level4, .pe-heading-level4 + .pe-heading-level5, .pe-heading-level4 + .pe-heading-level6 {
    margin-top: 6px; }

.pe-heading-level5 {
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  color: #565656; }
  p + .pe-heading-level5 {
    margin-top: 20px; }
  .pe-heading-level5 + h1, .pe-heading-level5 + h2, .pe-heading-level5 + h3, .pe-heading-level5 + h4, .pe-heading-level5 + h5, .pe-heading-level5 + h6, .pe-heading-level5 + .pe-heading-level1, .pe-heading-level5 + .pe-heading-level2, .pe-heading-level5 + .pe-heading-level3, .pe-heading-level5 + .pe-heading-level4, .pe-heading-level5 + .pe-heading-level5, .pe-heading-level5 + .pe-heading-level6 {
    margin-top: 6px; }

.pe-heading-level6 {
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
  color: #565656; }
  p + .pe-heading-level6 {
    margin-top: 20px; }
  .pe-heading-level6 + h1, .pe-heading-level6 + h2, .pe-heading-level6 + h3, .pe-heading-level6 + h4, .pe-heading-level6 + h5, .pe-heading-level6 + h6, .pe-heading-level6 + .pe-heading-level1, .pe-heading-level6 + .pe-heading-level2, .pe-heading-level6 + .pe-heading-level3, .pe-heading-level6 + .pe-heading-level4, .pe-heading-level6 + .pe-heading-level5, .pe-heading-level6 + .pe-heading-level6 {
    margin-top: 6px; }

.pe-code {
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  font-size: 0.875rem;
  color: #aeaeae;
  background-color: #424242;
  line-height: 1.25rem; }

.pe-code-inline {
  padding-left: 4px;
  padding-right: 4px;
  background-color: #e6e6e6;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; }

.pe-kbd {
  padding-left: 4px;
  padding-right: 4px;
  background-color: #e6e6e6;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace; }

.pe-inlineblock div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1em 1em; }
.pe-inlineblock div:first-child {
  margin-left: 0; }

.pe-input {
  margin-bottom: 1em; }
  .pe-input input, .pe-input textarea {
    color: #231f20;
    background: #ffffff;
    border: solid 1px #d0d0d0;
    -webkit-appearance: none;
    border-radius: 3px; }
    .pe-input input::-webkit-input-placeholder, .pe-input textarea::-webkit-input-placeholder {
      font-style: italic;
      color: #6d6d6d; }
    .pe-input input::-moz-placeholder, .pe-input textarea::-moz-placeholder {
      font-style: italic;
      color: #6d6d6d; }
    .pe-input input:-moz-placeholder, .pe-input textarea:-moz-placeholder {
      font-style: italic;
      color: #6d6d6d; }
    .pe-input input:-ms-input-placeholder, .pe-input textarea:-ms-input-placeholder {
      font-style: italic;
      color: #6d6d6d; }
  .pe-input input:disabled, .pe-input.pe-input--disabled input {
    color: #a6a8ab;
    background: #f2f2f2; }
    .pe-input input:disabled::-webkit-input-placeholder, .pe-input.pe-input--disabled input::-webkit-input-placeholder {
      color: #a6a8ab; }
    .pe-input input:disabled::-moz-placeholder, .pe-input.pe-input--disabled input::-moz-placeholder {
      color: #a6a8ab; }
    .pe-input input:disabled:-moz-placeholder, .pe-input.pe-input--disabled input:-moz-placeholder {
      color: #a6a8ab; }
    .pe-input input:disabled:-ms-input-placeholder, .pe-input.pe-input--disabled input:-ms-input-placeholder {
      color: #a6a8ab; }
  .pe-input textarea:disabled, .pe-input.pe-textarea--disabled textarea {
    color: #a6a8ab;
    background: #f2f2f2; }
    .pe-input textarea:disabled::-webkit-input-placeholder, .pe-input.pe-textarea--disabled textarea::-webkit-input-placeholder {
      color: #a6a8ab; }
    .pe-input textarea:disabled::-moz-placeholder, .pe-input.pe-textarea--disabled textarea::-moz-placeholder {
      color: #a6a8ab; }
    .pe-input textarea:disabled:-moz-placeholder, .pe-input.pe-textarea--disabled textarea:-moz-placeholder {
      color: #a6a8ab; }
    .pe-input textarea:disabled:-ms-input-placeholder, .pe-input.pe-textarea--disabled textarea:-ms-input-placeholder {
      color: #a6a8ab; }
  .pe-input.pe-input--readonly input, .pe-input.pe-textarea--readonly textarea {
    background: #f2f2f2; }
  .pe-input input:read-only, .pe-input input:-moz-read-only {
    background: #f2f2f2; }
  .pe-input input:invalid, .pe-input.pe-input--error input, .pe-input textarea:invalid, .pe-input.pe-textarea--error textarea {
    border: solid 1px #d0021b;
    box-shadow: 0px 0px 4px #d0021b; }
  .pe-input .pe-error-text {
    color: #d0021b; }
  .pe-input.pe-input--small input {
    font-size: 0.875rem;
    height: 28px;
    line-height: 1rem;
    padding: 0 10px; }
  .pe-input.pe-textarea--small textarea {
    font-size: 0.875rem;
    padding: 9px 10px; }
  .pe-input label {
    color: #231f20;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: normal;
    display: block;
    margin-bottom: 6px; }
  .pe-input input {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    height: 36px;
    line-height: 1.125rem;
    padding: 0 14px; }
  .pe-input-group:after {
    content: '';
    display: block;
    clear: both;
    height: 0; }
  .pe-input-group .pe-input input {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0; }
  .pe-input-group .pe-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.pe-textarea {
  margin-bottom: 1em; }
  .pe-textarea input, .pe-textarea textarea {
    color: #231f20;
    background: #ffffff;
    border: solid 1px #d0d0d0;
    -webkit-appearance: none;
    border-radius: 3px; }
    .pe-textarea input::-webkit-input-placeholder, .pe-textarea textarea::-webkit-input-placeholder {
      font-style: italic;
      color: #6d6d6d; }
    .pe-textarea input::-moz-placeholder, .pe-textarea textarea::-moz-placeholder {
      font-style: italic;
      color: #6d6d6d; }
    .pe-textarea input:-moz-placeholder, .pe-textarea textarea:-moz-placeholder {
      font-style: italic;
      color: #6d6d6d; }
    .pe-textarea input:-ms-input-placeholder, .pe-textarea textarea:-ms-input-placeholder {
      font-style: italic;
      color: #6d6d6d; }
  .pe-textarea input:disabled, .pe-textarea.pe-input--disabled input {
    color: #a6a8ab;
    background: #f2f2f2; }
    .pe-textarea input:disabled::-webkit-input-placeholder, .pe-textarea.pe-input--disabled input::-webkit-input-placeholder {
      color: #a6a8ab; }
    .pe-textarea input:disabled::-moz-placeholder, .pe-textarea.pe-input--disabled input::-moz-placeholder {
      color: #a6a8ab; }
    .pe-textarea input:disabled:-moz-placeholder, .pe-textarea.pe-input--disabled input:-moz-placeholder {
      color: #a6a8ab; }
    .pe-textarea input:disabled:-ms-input-placeholder, .pe-textarea.pe-input--disabled input:-ms-input-placeholder {
      color: #a6a8ab; }
  .pe-textarea textarea:disabled, .pe-textarea.pe-textarea--disabled textarea {
    color: #a6a8ab;
    background: #f2f2f2; }
    .pe-textarea textarea:disabled::-webkit-input-placeholder, .pe-textarea.pe-textarea--disabled textarea::-webkit-input-placeholder {
      color: #a6a8ab; }
    .pe-textarea textarea:disabled::-moz-placeholder, .pe-textarea.pe-textarea--disabled textarea::-moz-placeholder {
      color: #a6a8ab; }
    .pe-textarea textarea:disabled:-moz-placeholder, .pe-textarea.pe-textarea--disabled textarea:-moz-placeholder {
      color: #a6a8ab; }
    .pe-textarea textarea:disabled:-ms-input-placeholder, .pe-textarea.pe-textarea--disabled textarea:-ms-input-placeholder {
      color: #a6a8ab; }
  .pe-textarea.pe-input--readonly input, .pe-textarea.pe-textarea--readonly textarea {
    background: #f2f2f2; }
  .pe-textarea input:read-only, .pe-textarea input:-moz-read-only {
    background: #f2f2f2; }
  .pe-textarea input:invalid, .pe-textarea.pe-input--error input, .pe-textarea textarea:invalid, .pe-textarea.pe-textarea--error textarea {
    border: solid 1px #d0021b;
    box-shadow: 0px 0px 4px #d0021b; }
  .pe-textarea .pe-error-text {
    color: #d0021b; }
  .pe-textarea.pe-input--small input {
    font-size: 0.875rem;
    height: 28px;
    line-height: 1rem;
    padding: 0 10px; }
  .pe-textarea.pe-textarea--small textarea {
    font-size: 0.875rem;
    padding: 9px 10px; }
  .pe-textarea label {
    color: #231f20;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: normal;
    display: block;
    margin-bottom: 6px; }
  .pe-textarea textarea {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    height: auto;
    line-height: 1.125rem;
    padding: 9px 14px; }

.pe-checkbox input, .pe-checkbox label,
.pe-radio input,
.pe-radio label {
  display: inline-block;
  vertical-align: middle; }
.pe-checkbox input,
.pe-radio input {
  margin-right: 7px; }
  .pe-checkbox input:focus,
  .pe-radio input:focus {
    outline: 1px solid #0d65a6;
    outline-offset: 2px; }
.pe-checkbox label,
.pe-radio label {
  font-size: 1rem;
  line-height: 1.125rem; }

.mouseDetected .pe-radio input:focus,
.mouseDetected .pe-checkbox input:focus {
  outline: 0; }

.pe-checkbox--small label,
.pe-radio--small label,
.pe-textarea--small label {
  color: #231f20;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: normal; }

.pe-inlineblock div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1em 1em; }
.pe-inlineblock div:first-child {
  margin-left: 0; }

.pe-select select {
  height: 36px;
  padding-left: 14px;
  padding-right: 14px;
  border: solid 1px #d0d0d0;
  background-color: #ffffff;
  color: #231f20;
  font-size: 1rem;
  line-height: 1.125rem;
  vertical-align: middle;
  border-radius: 3px; }
.pe-select.pe-select--small select {
  height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.875rem;
  line-height: 1rem; }
.pe-select.pe-select--readonly select {
  background: #f2f2f2; }
.pe-select.pe-select--disabled select {
  background-color: #f2f2f2;
  color: #a6a8ab; }
.pe-select.pe-select--error select {
  border: 1px solid #D0021B;
  color: #231f20;
  box-shadow: 0px 0px 4px #D0021B; }
.pe-select label {
  color: #231f20;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: normal;
  display: block;
  margin-bottom: 6px; }

.pe-tabs {
  margin: 15px 0 15px 0; }
  .pe-tabs .pe-tablist {
    list-style: none;
    margin: 0;
    padding: 0;
    border: solid 1px #d0d0d0; }
    .pe-tabs .pe-tablist:after {
      content: "";
      display: table;
      clear: both; }
    .pe-tabs .pe-tablist .pe-tab {
      float: left; }
      .pe-tabs .pe-tablist .pe-tab > a {
        display: block;
        padding: 10px;
        text-decoration: none;
        border-bottom: 6px solid transparent;
        color: #565656;
        transition: .15s border-color;
        -webkit-transition: .15s border-color;
        -moz-transition: .15s border-color; }
        .pe-tabs .pe-tablist .pe-tab > a:hover, .pe-tabs .pe-tablist .pe-tab > a:focus, .pe-tabs .pe-tablist .pe-tab > a:active {
          border-color: #e6e6e6; }
      .pe-tabs .pe-tablist .pe-tab.pe-tab--active > a {
        border-color: #107aca; }
  .pe-tabs .pe-tabpanel {
    display: none;
    margin-top: 15px; }
    .pe-tabs .pe-tabpanel.pe-tabpanel--active {
      display: block; }
  .pe-tabs.pe-tabs--stroke .pe-tabpanel {
    margin-top: 0;
    padding: 15px;
    border: solid 1px #d0d0d0;
    border-top: none; }

.pe-tag-input {
  width: 100%; }
  .pe-tag-input .pe-tag-input--tagholder {
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    border-bottom: 0; }
  .pe-tag-input input[type=text] {
    border-top: 0;
    border-radius: 0 0 5px 5px; }
  .pe-tag-input .pe-tag {
    display: inline-block;
    background: #a6a8ab;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
    margin: 5px; }
  .pe-tag-input .pe-tag--remove {
    border: 0;
    background: transparent;
    text-indent: -300px;
    position: relative;
    overflow: hidden;
    width: 25px;
    padding: 0; }
    .pe-tag-input .pe-tag--remove:after {
      position: absolute;
      content: "\00d7";
      left: 168px;
      color: #ffffff;
      font-size: 18px;
      top: -4px; }

.pe-input--horizontal {
  display: table;
  width: 100%; }
  .pe-input--horizontal label {
    display: table-cell;
    width: 200px;
    min-width: 200px;
    padding-right: 20px;
    text-align: right;
    vertical-align: middle; }
  .pe-input--horizontal input,
  .pe-input--horizontal textarea,
  .pe-input--horizontal select,
  .pe-input--horizontal input[type=time] {
    width: 100%;
    display: table-cell;
    margin: 10px 0; 
    height: 36px;}

.pe-updatemetadata section,
.pe-assetmetadata section {
  width: calc(100% - 200px);
  margin-bottom: 35px; }
  .pe-updatemetadata section:last-child,
  .pe-assetmetadata section:last-child {
    margin-bottom: 0; }
  .pe-updatemetadata section > h2,
  .pe-assetmetadata section > h2 {
    margin-bottom: 15px; }

.pe-metadata-mvm {
  display: table;
  width: 100%; }
  .pe-metadata-mvm .pe-input--horizontal {
    display: table-row; }

/*# sourceMappingURL=main.css.map */
